* {
    
    
}

html, body{
    width: 2480px;
    height: 3508px;
    margin: auto;
}

#outline{
    outline: 8px solid black;
    width: 2380px;
    height: 3408px;
    display: flex;
    margin: 10px 10px;
}

.container {
    display: flex;
    flex: 1;
}

.box {
    background-color: rgb(66, 211, 21);
    flex: 1;
    height: 200px;
}